# === Python ===
venv/
backend/venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual environment folders (common names)
env/
.venv/
ENV/
env.bak/
venv/

# Jupyter
.ipynb_checkpoints/

# === Node / JavaScript ===
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# === macOS ===
.DS_Store

# === VSCode ===
.vscode/

# === Logs ===
*.log

# === Local environment files ===
*.env.local
.env.development.local
.env.production.local
.env.test.local

.env
*.env
.env.*

# === System-unique files ===
backend/app/unique_keys.py
playground-1.mongodb.js

# development-only seed script
seed_events.py
